%h1 Listing subscriptions

%table
  %thead
    %tr
      %th Plan
      %th User
      %th Stripe key
      %th Status
      %th
      %th
      %th

  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.plan_id
        %td= subscription.user_id
        %td= subscription.stripe_key
        %td= subscription.status_id
        %td= link_to 'Show', subscription
        %td= link_to 'Edit', edit_subscription_path(subscription)
        %td= link_to 'Destroy', subscription, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Subscription', new_subscription_path
